/* Make fullscreen mode 100% of the screen. */
:-webkit-full-screen video {
    width: 100%;
    height: 100%;
}

/* Remove the control panel from fullscreen mode. */
video::-webkit-media-controls-panel {
    display: none !important;
}

video {
    /* Fit the container if the resolution is not compatible. */
    object-fit: fill;
<<<<<<< Updated upstream
=======
    /* ios默认不显示视频，为ios添加背景。 */
>>>>>>> Stashed changes
    background: black;
}

/* 进度条样式。 */
.progress-bar-container {
    width: 100%;
    height: 5px;
}

.progress-bar-box {
    opacity: 0.3;
    height: 100%;
    margin-left: 15px;
    margin-right: 15px;
    background-color: grey;
}

/* 进度条颜色(淡绿色)。 */
#jag-progress-bar {
    background-color: #6cffd4;
}

/* 缓冲条颜色(白色)。 */
#jag-buffer-bar {
    background-color: white;
}


/* 控制条按钮样式。 */
.button-container {
    margin-top: 5px;
}

#play-button {
    margin-left: 20px;
    color: white;
    font-size: 18px;
}

#volume-button {
    margin-left: 10px;
    color: white;
    font-size: 18px;
}

.fullscreen-button {
    margin-left: 100px;
    color: white;
    font-size: 18px;
}





.progressBar {
    position: relative;
    width: 100%;
    height: 10px;
    backgroud-color: #000;
}

.timeBar {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: #ccc;
}

.progressBar {
    position: relative;
    width: 100%;
    height: 10px;
    backgroud-color: #000;
}

.bufferBar {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: #ccc;
}

/**/
-webkit-full-screen {

    /* properties */
}
:-moz-full-screen {
    /* properties */
}
:-ms-fullscreen {
    /* properties */
}
:full-screen { /*pre-spec */
    /* properties */
}
:fullscreen { /* spec */
    /* properties */
}
/* deeper elements */
:-webkit-full-screen video {
    width: %;
    height: %;
}
/* styling the backdrop*/
::backdrop {
    /* properties */
}
::-ms-backdrop {
    /* properties */
}
