/* 1. 视频样式 */
/* Make fullscreen mode 100% of the screen. */
:-webkit-full-screen video {
    width: 100%;
    height: 100%;
}

/* Remove the control panel from fullscreen mode. */
video::-webkit-media-controls-panel {
    display: none !important;
}

video {
    /* Fit the container if the resolution is not compatible. */
    object-fit: fill;
    /* ios默认不显示视频，为ios添加背景。 */
    background: black;
}

/* 2. 控制栏样式 */
/* 设置控制栏文字不可选。 */
#control-panel {
    /* 绝对定位确定控制栏位置。 */
    position: absolute;
    height: 50px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    display: none;
}

/* 进度条样式。 */
.progress-bar-container {
    width: 100%;
    height: 10px;
}

/* 用一个完全空的div站位。 */
.progress-empty {
    opacity: 0;
    height: 8px;
}

.progress-bar-box {
    opacity: 0.3;
    height: 5px;
    margin-left: 15px;
    margin-right: 15px;
    background-color: grey;
}

/* 进度条颜色(淡绿色)。 */
#jag-progress-bar {
    background-color: lime;
    /* 让颜色更浅。 */
    opacity: 0.5;
}

/* 缓冲条颜色(白色)。 */
#jag-buffer-bar {
    background-color: white;
}

/* 进度条按钮。 */
#progress-button {
    /* 使用绝对定位。 */
    position: absolute;
    font-size: 15px;
    /* 颜色为淡蓝色。 */
    color: aqua;
    opacity: 0.8;
    /* 高度差和初始左偏移量。 */
    top: 4px;
    left: 7px;
}

#play-button {
    position: absolute;
    margin-top: 19px;
    margin-left: 25px;
    color: white;
    font-size: 21px;
}

#volume-button {
    position: absolute;
    margin-top: 21px;
    margin-left: 64px;
    color: white;
    font-size: 21px;
}

#fullscreen-button {
    position: absolute;
    margin-top: 21px;
    right: 27px;
    color: white;
    font-size: 18px;
}

#playback-button {
    position: absolute;
    margin-top: 20px;
    right: 64px;
    color: white;
    font-size: 18px;
}

/* 3. 播放速率列表样式 */
.playback-list {
    right: 36px;
    bottom: 26px;
    position: absolute;
    width: 65px;
    opacity: 0.5;
    display: none;
}

/* 播放速率列表单个按钮大小。 */
.playback-list .list-group-item {
    height: 36px;
    padding-top: 8px;
    background-color: black;
    border-color: black;
}