/* Make fullscreen mode 100% of the screen. */
:-webkit-full-screen video {
    width: 100%;
    height: 100%;
}

/* Remove the control panel from fullscreen mode. */
video::-webkit-media-controls-panel {
    display: none !important;
}

video {
    /* Fit the container if the resolution is not compatible. */
    object-fit: fill;
    /* ios默认不显示视频，为ios添加背景。 */
    background: black;
}

/* 设置控制栏文字不可选。 */
#control-panel {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* 进度条样式。 */
.progress-bar-container {
    width: 100%;
    height: 5px;
}

.progress-bar-box {
    opacity: 0.3;
    height: 100%;
    margin-left: 15px;
    margin-right: 15px;
    background-color: grey;
}

/* 进度条颜色(淡绿色)。 */
#jag-progress-bar {
    background-color: #6cffd4;
}

/* 缓冲条颜色(白色)。 */
#jag-buffer-bar {
    background-color: white;
}

#play-button {
    position: absolute;
    margin-top: 11px;
    margin-left: 25px;
    color: white;
    font-size: 21px;
}

#volume-button {
    position: absolute;
    margin-top: 11px;
    margin-left: 56px;
    top: 2px;
    color: white;
    font-size: 21px;
}

#fullscreen-button {
    position: absolute;
    margin-top: 12px;
    right: 27px;
    color: white;
    font-size: 18px;
}

#playback-button {
    position: absolute;
    margin-top: 12px;
    right: 58px;
    color: white;
    font-size: 18px;
}

/* 播放速率列表。  */
.playback-list {
    right: 36px;
    bottom: 26px;
    position: absolute;
    width: 65px;
    opacity: 0.5;
    display: none;
}

/* 播放速率列表单个按钮大小。 */
.playback-list .list-group-item {
    height: 36px;
    padding-top: 8px;
    background-color: black;
    border-color: black;
}


/**/
-webkit-full-screen {

    /* properties */
}
:-moz-full-screen {
    /* properties */
}
:-ms-fullscreen {
    /* properties */
}
:full-screen { /*pre-spec */
    /* properties */
}
:fullscreen { /* spec */
    /* properties */
}
/* deeper elements */
:-webkit-full-screen video {
    width: %;
    height: %;
}
/* styling the backdrop*/
::backdrop {
    /* properties */
}
::-ms-backdrop {
    /* properties */
}
